*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} 
 body{
    height: 100vh;
    display: flex;
}
.left{
    width: 750px;
    height: 700px;
    background-color: #f6f7fc;
}
.left .login{
    height: 450px;
    width: 400px;
    margin: 150px;
    border: none;
    background-color:#f6f7fc;
}
.left .login p{
    color: #b3b3b3;
    margin-top: 15px;
}
.left .login span{
    font-size: 22px;
}
.left .login input{
    width: 90%;
    height: 50px;
}
.right img{
    width: 750px;
    height: 100vh;
}
.left .login h4{
    margin-top: 15px;
}
.left .login input{
    margin-top: 15px;
    font-size: 16px;
    margin-bottom: 15px;
}
.left .login button{
    width: 90%;
    height: 50px;
    margin-top: 25px;
    font-size: 18px;
    background-color: #fb771a;
    color:#fff;
    cursor: pointer;
}
.left .login button:hover{
    color:#e66306
}
.left .login  a{
    text-decoration: none;
    justify-content: space-between;
    align-items:center;
    margin-right: 90px;
    
}
